.login__contact {
    max-width: 1230px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    background-color: rosybrown;
}

.login__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.login__card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;

}

.form__group {
    margin-bottom: 15px
}

.form__group--title {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form__group--item {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
}

.form__group--item input {
    border: none;
}

.form__error {
    font-size: 13px;
    margin-top: 5px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button--submit {
    width: 30%;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}